[Unit]
Description=Promtail service
After=network.target

[Service]
Type=simple
User=promtail
ExecStart=/opt/promtail/bin/promtail-linux-arm64 --config.file=/opt/promtail/etc/promtail-config.yaml --client.external-labels=hostname=%H

[Install]
WantedBy=multi-user.target
